 /* -- import Roboto Font ---------------------------- */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzQdKg.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc-CsE.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xMIzc.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc-CsE.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic-CsE.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc-CsE.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzc.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc9.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc9.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfABc9.ttf) format('truetype');
}
/* -- You can use this tables in Bootstrap (v3) projects. -- */
/* -- Box model ------------------------------- */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* -- Demo style ------------------------------- */
html,
body {
    position: relative;
    min-height: 100%;
    height: 100%;
}

html {
    position: relative;
    overflow-x: hidden;
    margin: 16px;
    padding: 0;
    min-height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #dbdcdd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#demo {
    margin: 20px auto;
    max-width: 960px;
}

    #demo h1 {
        font-size: 5.0rem;
        line-height: 3.2rem;
        letter-spacing: 0;
        font-weight: 300;
        color: #212121;
        text-transform: inherit;
        margin-bottom: 1rem;
        text-align: center;
        font-family: 'Nunito', sans-serif;
    }

    #demo h2 {
        font-size: 1.5rem;
        line-height: 2.8rem;
        letter-spacing: 0.01rem;
        font-weight: 400;
        color: #212121;
        text-align: center;
        font-family: 'Nunito', sans-serif;
    }

.shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
/* -- Material Design Table style -------------- */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
}

    .table > thead > tr,
    .table > tbody > tr,
    .table > tfoot > tr {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            text-align: center;
            padding: 1.3rem;
            vertical-align: top;
            border-top: 0;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .table > thead > tr > th {
            font-weight: 400;
            color: #757575;
            vertical-align: bottom;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    .table > tbody + tbody {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .table .table {
        background-color: #fff;
    }

    .table .no-border {
        border: 0;
    }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 0.8rem;
}

.table-bordered {
    border: 0;
}

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
        border-bottom-width: 2px;
    }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
    .table-responsive-vertical > .table {
        margin-bottom: 0;
        background-color: transparent;
    }

        .table-responsive-vertical > .table > thead,
        .table-responsive-vertical > .table > tfoot {
            display: none;
        }

        .table-responsive-vertical > .table > tbody {
            display: block;
        }

            .table-responsive-vertical > .table > tbody > tr {
                display: block;
                border: 1px solid #e0e0e0;
                border-radius: 2px;
                margin-bottom: 1.6rem;
            }

                .table-responsive-vertical > .table > tbody > tr > td {
                    background-color: #fff;
                    display: block;
                    vertical-align: middle;
                    text-align: right;
                }

                    .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
                        content: attr(data-title);
                        float: left;
                        font-size: inherit;
                        font-weight: 400;
                        color: #757575;
                    }

    .table-responsive-vertical.shadow-z-1 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
            border: none;
            -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        }

    .table-responsive-vertical > .table-bordered {
        border: 0;
    }

        .table-responsive-vertical > .table-bordered > tbody > tr > td {
            border: 0;
            border-bottom: 1px solid #e0e0e0;
        }

            .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
                border-bottom: 0;
            }

    .table-responsive-vertical > .table-striped > tbody > tr > td,
    .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
        background-color: #fff;
    }

        .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
            background-color: #f5f5f5;
        }

    .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
    .table-responsive-vertical > .table-hover > tbody > tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}



.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
    background-color: #e1f5fe;
}

.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
    background-color: #D7E9EE;
}

@media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
        background-color: #fff;
    }

        .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
            background-color: #e1f5fe;
        }

    .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
        background-color: #D7E9EE;
    }
}


.btn {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    padding: 0 1em 0 1em;
    text-decoration: none;
    margin: 0 .25em;
    position: relative;
    line-height: 2em;
    min-height: 2em;
    color: #4e5c85;
    border: 1px solid #4e5c85;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    background: #f7f7f7;
}

    .btn:hover {
        cursor: pointer;
        color: white;
        border: 1px solid #1b2952;
        background: #4e5c85;
    }

    .btn svg {
        position: absolute;
        top: .5em;
        left: .5em;
        height: 1em;
        fill: currentColor;
    }

    .btn.btn-word, .btn.btn-query, .btn.btn-run {
        color: #5C7BA4;
        border: 1px solid #5C7BA4;
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

        .btn.btn-word:hover, .btn.btn-query:hover, .btn.btn-run:hover {
            cursor: pointer;
            color: white;
            border: 1px solid #5C7BA4;
            background: #4e5c85;
        }

    .btn.btn-site {
        color: #7A7C78;
        border: 1px solid #7A7378;
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

        .btn.btn-site:hover {
            cursor: pointer;
            color: white;
            border: 1px solid #7A7378;
            background: #7A7378;
        }

/*여기서부터 search bar 설정*/


 button, input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
}

input {
    color: #7A7378;
}

.search-bar {
    display: flex;
    justify-content:center;
    align-items:center;
    align-content:center;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

    .search-bar input:invalid:not(:focus),
    .search-btn {
        cursor: pointer;
    }

    .search-bar,
    .search-bar input:focus,
    .search-bar input:valid {
        width: 100%;
    }

        .search-bar input:focus,
        .search-bar input:not(:focus) + .search-btn:focus {
            outline: transparent;
        }

.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}

    .search-bar input {
        background: transparent;
        border-radius: 1.5em;
        box-shadow: 0 0 0 0.4em #3D3B3E inset;
        padding: 0.75em;
        transform: translate(0.5em,0.5em) scale(0.5);
        transform-origin: 100% 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .search-bar input::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        .search-bar input:focus,
        .search-bar input:valid {
            background: #DBDCDD;/*bar 색상 지정*/
            border-radius: 0.375em 0 0 0.375em;
            box-shadow: 0 0 0 0.1em #d9d9d9 inset;
            transform: scale(1);
        }

.search-btn {
    background: #3D3B3E; /*막대기 색 지정*/
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
}

    .search-btn:before,
    .search-btn:after {
        content: "";
        display: block;
        opacity: 0;
        position: absolute;
    }

    .search-btn:before {
        border-radius: 50%;
        box-shadow: 0 0 0 0.2em #f1f1f1 inset;/*bar 열리고 동그란거 색*/
        top: 0.75em;
        left: 0.75em;
        width: 1.2em;
        height: 1.2em;
    }

    .search-btn:after {
        background: #f1f1f1;/*bar 열리고 막대 색*/
        border-radius: 0 0.25em 0.25em 0;
        top: 51%;
        left: 51%;
        width: 0.75em;
        height: 0.25em;
        transform: translate(0.2em,0) rotate(45deg);
        transform-origin: 0 50%;
    }

    .search-btn span {
        display: inline-block;
        overflow: hidden;
        width: 1px;
        height: 1px;
    }

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
    background: #3D3B3E;/*bar열리고 버튼 색*/
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}

    .search-bar input:focus + .search-btn:before,
    .search-bar input:focus + .search-btn:after,
    .search-bar input:valid + .search-btn:before,
    .search-bar input:valid + .search-btn:after {
        opacity: 1;
    }

    .search-bar input:focus + .search-btn:hover,
    .search-bar input:valid + .search-btn:hover,
    .search-bar input:valid:not(:focus) + .search-btn:focus {
        background: #7A7378; /*버튼에 마우스 가져가면 색*/
    }

    .search-bar input:focus + .search-btn:active,
    .search-bar input:valid + .search-btn:active {
        transform: translateY(1px);
    }
